<div>
  <h2 style="color: blue;">Super Heroes Application Form</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="name" style="color: blue;">Enter Your Name:</label>

      <input type="text" id="name" name="name" [(ngModel)]="userName" required>
    </div>

    <div>
      <label for="team" style="color:blue">Select a Team:</label>
      <select id="team" name="team" [(ngModel)]="selectedTeam" required>
        <option value="Justice League" style="color: blue;">Justice League</option>

        <option value="Avengers" style="color: blue;">Avengers</option>
      </select>
    </div>
        <div>
      <button class="btn btn-primary" style="color: blue;" (click)="onSubmit()">Submit</button>

    </div>
    <div *ngIf="entries.length > 0">
      <h2 style="color: blue;">Entries:</h2>
      <ul>
        <li *ngFor="let entry of entries">
          <p style="color: blue;">Name: {{ entry.name }}</p>
          <p style="color: blue;">Team: {{ entry.team }}</p>
        </li>
      </ul>
    </div>
  </form>
</div>