<div class="form-container">
  <h2>Super Heroes Application Form</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Enter Your Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="userName" required>
    </div>

    <div>
      <label for="team">Select a Team:</label>
      <select id="team" name="team" [(ngModel)]="selectedTeam" (change)="onTeamChange($event)" required>
        <option value="Justice League" style="color:blue">Justice League</option>
        <option value="Avengers" style="color: red">Avengers</option>
      </select>
    </div>
    <div>
      <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
    <div *ngIf="entries.length > 0" class="entries-container">
      <h2>Entries:</h2>
      <ul>
        <li *ngFor="let entry of entries">
          <p [ngClass]="{'blue-text': entry.team === 'Justice League', 'red-text': entry.team === 'Avengers'}">Name: {{ entry.name }}</p>
          <p [ngClass]="{'blue-text': entry.team === 'Justice League', 'red-text': entry.team === 'Avengers'}">Team: {{ entry.team }}</p>
        </li>
      </ul>
    </div>
  </form>
</div>
